body{
    background-color: #FF968A;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.maincontainer{
    padding: 100px 200px 200px 200px;
    box-shadow: black;
    height:600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(var(--grid-rows),1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.gridcell{
    padding: 0;
    margin: 0;
    border: solid 1px rgb(192, 192, 192);
}

.footer{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding: 0;
    margin: 0;
}
